# Prod Caddyfile example
# hydra.nowigence.ai
:80 {
handle /api/* {
  reverse_proxy /api/* localhost:5000 localhost:8080 {
      lb_policy least_conn
    }
}

handle /graphql {
  reverse_proxy /graphql localhost:5000 localhost:8080 {
      lb_policy least_conn
    }
 }

handle * {
# <-- needs to point to client/Caddyfile (full path... ex. /root/projFolder/client/build)
    root * ./testing-fastify-ui/build
    encode zstd gzip
    try_files {path} /index.html

    file_server
 }

handle_errors {
    respond "{http.error.status_code} {http.error.status_text}"
  }

}

